body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: rgb(206, 204, 204);
}

.container {
  width: 90vw;
  height: 95vh;
  display: flex;
  border-radius: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.icon-div {
  height: 95vh;
  width: 5vw;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-right: 1px solid darkgray;
  background-color: rgb(253, 254, 254);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.notes-div {
  height: 95vh;
  width: 25vw;
  background-color: rgb(252, 252, 251);
  overflow-y: scroll;
}

.noteContainer-div {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  width: 60vw;
  height: 95vh;
  background-color: rgb(87, 20, 151);
  color: white;
  text-align: center;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.add-btn,
.task-btn,
.subscribe-btn,
.share-btn {
  color: white;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: none;
  margin-top: 30px;
  margin-left: 10px;
  cursor: pointer;
}

.add-btn,
.task-btn,
.subscribe-btn,
.share-btn i {
  font-size: 20px;
}

.add-btn {
  background-color: black;
}

.task-btn {
  background-color: rgb(232, 196, 37);
}

.subscribe-btn {
  background-color: rgb(116, 63, 72);
}

.share-btn {
  background-color: rgb(10, 56, 10);
}

.note {
  text-align: center;
  border-bottom: 1px solid black;
  height: 130px;
  overflow: hidden;
  padding: 10px;
  position: relative;
}

.note:hover {
  background-color: rgb(179, 248, 225);
}

.notes-div::-webkit-scrollbar {
  display: none;
}

.cont-date {
  color: rgb(176, 174, 174);
  font-size: 18px;
  margin-bottom: 2px;
  margin-left: 10px;
  text-align: left;
}

.cont-title {
  color: rgb(238, 103, 103);
  font-size: 26px;
}

.cont-content {
  color: antiquewhite;
}

.date-heading {
  text-align: left;
}

.title-heading {
  text-align: right;
  font-size: 14px;
}

.content-heading {
  text-align: right;
  font-size: 12px;
  margin-left: 20px;
}
.quillDiv {
  height: 100px;
  border: none;
  overflow: hidden;
}

.ql-editor {
  border: none;
}

.ql-toolbar.ql-snow {
  background-color: rgb(76, 15, 137);
  margin: 0 35px 0 30px;
  border: none !important;
}

.ql-snow.ql-toolbar button {
  color: antiquewhite !important;
}

.ql-snow.ql-toolbar button svg {
  color: white !important;
  border-radius: 5px;
}

.ql-container.ql-snow {
  border: none !important;
}

.ql-container {
  height: 65% !important;
}
.ql-snow .ql-stroke {    
  stroke: rgb(245, 242, 242) !important;
     
}
.ql-snow .ql-picker {
  color: white !important;
}
.ql-toolbar.ql-snow .ql-picker.ql-expanded .ql-picker-options{
  color: black !important;
}
canvas {
  border: 1px solid #000;
}
.canvas-container{
   height: 70vh !important;
}

.upper-canvas{
  border-radius: 15px;
  margin-left: 5vw;
  width: 50vw !important;
  height: 70vh !important;
  border: none !important;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  
} 
#drawingCanvas{
  border-radius: 20px;
  margin-left: 5vw;
  width: 50vw !important;
  height: 70vh !important;
  background-color: rgb(250, 249, 249) !important;
  border: none !important;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.clear-btn {
  background-color: #f44336;
  position: absolute;
  right: 140px;
  top: 80px;
  border: none;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.clear-btn:hover {
  background-color: #d32f2f;
}

.dropdown {
  position: absolute;
  display: inline-block;
  right: 5px;
  top: 2px;
}
.dropbtn{
  background-color: #292929;
  color: white;
  border: none;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #484646;
  width: 35px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  right: 0;
}

.dropdown-content button {
  color: rgb(14, 13, 13);
  padding: 10px;
  text-decoration: none;
  display: block;
  background: rgb(247, 246, 246);
  border: none;
  width: 100%;
  text-align: left;
}

.dropdown-content button:hover {
  background-color: #f1f1f1;
}

.show {
  display: block;
}